doctype html
html
  head 
    title Alexis Petit
    meta(charset="utf-8")
    link(rel="stylesheet", href="style-header.css")
    link(rel="stylesheet", href="style-content.css")
    link (href='https://fonts.googleapis.com/css?family=Roboto:400,300,700,500,400italic' rel='stylesheet' type='text/css')
    
  body
    div.home-wrap
      header
        .header-position
          h1.logo
          
          nav.site-nav 
            ul
              li: a(href="about") About
              li: a(href="about") About
              li: a(href="about") About
              li: a(href="about") About
              li: a(href="about") About
              li: a(href="about") About
              
          a(href="mailto:alexis-petit@live.fr").email-link +email me
      
      section.content
            
  
