$menu-bg-c: #FFF
$menu-txt: #363737
$menu-red: #FE1D39
$menu-hover: #E5E5E5
$a-hover: #E0E0E0

header
  width: 15vw
  background: $menu-bg-c
  padding: 30px 0

  .header-position
    padding: 30px 0
    position: fixed
    top:0
    left: 0
    bottom: 0
    width: inherit
    display: flex
    flex-direction: column
    justify-content: space-between
    background-color: $menu-bg-c


  .logo
    width: 100%
    margin-left: auto
    margin-right: 100px
    img
      filter: blur(20px)

  .site-nav
    font-weight: 500
    margin: 20px 0
    padding: 0
    text-align: right
    margin-bottom: 50px

    a

      display : block
      font-size: 1.3em
      color: $menu-txt
      text-decoration: none
      width: auto
      margin-bottom: 20px
      margin-right: 30px
      margin-left: 5px
      padding: 10px 10px
      border-right: solid $a-hover 3px
      border-radius: 0px
      transition: all 150ms ease-in

      &:last-child
        margin-bottom: 0


    a:hover
      background-color: $menu-hover
      //font-size: 1.53em
      transform: scale(1.07)
      -ms-transform: scale(1.07)
      -webkit-transform: scale(1.07)
      -o-transform: scale(1.07)
      -moz-transform: scale(1.07)
      border-radius: 3px
      -moz-box-shadow: 0px 0px 5px 2px #cfcfcf
      -webkit-box-shadow: 0px 0px 5px 2px #cfcfcf
      // -o-box-shadow: 0px 0px 5px 2px #cfcfcf
      box-shadow: 0px 0px 5px 2px #cfcfcf
      //-moz-box-shadow: 5px 5px 10px 0px #cfcfcf
      //-webkit-box-shadow: 5px 5px 10px 0px #cfcfcf
      //-o-box-shadow: 5px 5px 10px 0px #cfcfcf
    //  box-shadow: 5px 5px 10px 0px #cfcfcf
      //border-top: solid $menu-txt 2px
      //border-left: solid $a-hover 10px



        //transform: scale(1.07)
        //-ms-transform: scale(1.07)
        //-webkit-transform: scale(1.07)
        //-o-transform: scale(1.07)
        //-moz-transform: scale(1.07)
        //border: solid  3px rgba(65, 65, 62, 0)


      a,a:link
        text-decoration: none
        padding: 7px 5px
        color: $menu-txt

      a:hover
        color: $menu-bg-c



  //.social-link
    display: inline-flex
    flex-direction: row
    align-items: center
    justify-content: space-around

  .email-link
    font-size: 1.3em
    font-weight: 500
    text-decoration: none
    color: $menu-txt
    display: block
    text-align: right
    width: auto
    margin-bottom: 20px
    margin-left: 20px
    margin-right: 30px
    padding: 10px 10px
    transition: all 200ms ease

  .email-link:hover
    //background-color: $menu-hover
    //font-size: 1.53em
