body {
  margin: 0;
}

.home-wrap {
  display: flex;
  min-height: 100vh;
  background-color: pink;
}

@media (max-width: 775px) {
  .home-wrap {
    display: block;
  }
}

.content {
  height: 1500px;
}
